# Exclude hidden R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Exclude some of the data and results, but include the input file for QTL analysis, the linkage map and the candidate genes.
data/*
!data/barcodes
!data/crossing_data
!data/dominance
results/*
!results/QTLanalysis
results/QTLanalysis/*
!results/QTLanalysis/Rqtlin_final.csv
!results/QTLanalysis/linkagemap_cM.txt
!results/genesearch
results/genesearch/*
!results/genesearch/candidate_genes.txt
!results/geno_error
results/geno_error/*
!results/geno_error/individual_genotype_comparisons.txt

# Exclude file with local paths
paths.txt

# Exclude the devnotes files that contain code for constructing procedures
analysis/*/devnotes

# Remove directory with scritps that should not be uploaded
additional_scripts/
