# Exclude hidden R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Exclude some of the data and results
data/*
!data/barcodes
!data/crossing_data
!data/dominance
results/*
!results/QTLanalysis
results/QTLanalysis/*
!results/QTLanalysis/Rqtlin_final.csv
!results/QTLanalysis/linkagemap_cM.txt

# Exclude file with local paths
paths.txt

# Exclude the devnotes files that contain code for constructing procedures
analysis/*/devnotes

# Remove directory with scritps that should not be uploaded
additional_scripts/
