# Exclude hidden R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Exclude reference directories
data/
results/

# Exclude file with local paths
paths.txt

# Exclude the indev file that contains code that was used for constructing procedures
analysis/2-1_demultiplex/devnotes
